@if (show)
{
    <div class="modal fade show d-block" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Property</h5>
                </div>
                <div class="modal-body">        
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" @bind=property.Name>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">UI Name</label>
                        <input type="text" class="form-control" @bind=property.UIName>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Type Kind</label>
                        <select class="form-select" @bind=property.TypeKind>
                            <option selected value="BuiltIn">BuiltIn</option>
                            <option value="Reference">Reference</option>
                            <option value="Enumeration">Enumeration</option>
                        </select>
                    </div>
                    @if (property.TypeKind == TypeKind.Reference)
                    {
                        <div class="mb-3">
                            <label class="form-label">Type</label>
                            <select class="form-select" @bind=selectedReferenceTypeID>
                                @foreach (var referenceType in Project.GetClasses())
                                {
                                    <option value="@referenceType.Id">@referenceType.Name</option>
                                }
                            </select>
                        </div>
                    }
                    @if (property.TypeKind == TypeKind.Enumeration)
                    {
                        <div class="mb-3">
                            <label class="form-label">Type</label>
                            <select class="form-select" @bind=selectedEnumerationTypeID>
                                @foreach (var enumerationType in Project.GetEnumerations())
                                {
                                    <option value="@enumerationType.Id">@enumerationType.Name</option>
                                }
                            </select>
                        </div>
                    }
                    @if (property.TypeKind == TypeKind.BuiltIn)
                    {
                        <div class="mb-3">
                            <label class="form-label">Type</label>
                            <select class="form-select" @bind=property.BuiltInType>
                                @foreach (var builtInType in Enum.GetValues(typeof(BuiltInType)))
                                {
                                    <option value="@builtInType.ToString()">@builtInType.ToString()</option>
                                }
                            </select>
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label">Relationship Kind</label>
                        <select class="form-select" @bind=property.RelationshipKind>
                            <option selected value="Association">Association</option>
                            <option value="Aggregation">Aggregation</option>
                            <option value="Composition">Composition</option>
                        </select>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" @bind=property.IsList>
                      <label class="form-check-label">
                        Is List
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" @bind=property.IsNullable>
                      <label class="form-check-label">                
                        Is Nullable                                   
                      </label>                                        
                    </div>                                            
                    <div class="form-check mb-3">                     
                      <input class="form-check-input" type="checkbox" @bind=property.IsUnique>
                      <label class="form-check-label">
                        Is Unique
                      </label>
                    </div>
                </div>
                @if (!string.IsNullOrWhiteSpace(errorMessage)) 
                { 
                <div class="alert alert-danger" role="alert">
                    @errorMessage
                </div>
                }
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-secondary" @onclick=Hide>Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=Ok>Ok</button>
                </div>
            </div>
        </div>
    </div>
}